
# **Chương 4 – Pandas**  
## **Tiết 07**
## **4.6 CHỈ MỤC PHÂN CẤP (MULTIINDEX) TRONG PANDAS**  
### **Mục tiêu:** Hiểu cách Pandas **giải quyết bài toán dữ liệu đa chiều (N-D) trên cấu trúc 1D/2D bằng MultiIndex**, và nắm vững các thao tác cốt lõi.
#### cách **tạo MultiIndex**, **tái lập chỉ mục (reindex)** Series theo MultiIndex, và **truy vấn** theo từng cấp.
> Phong cách: *Lý thuyết lồng trong thực hành* (Markdown + Code).  
> Nguồn căn cứ: **Chương 4\_Pandas.docx**, mục **4.6** và các ví dụ 4.6.1.x (không suy diễn).  
> Ghi chú (red review) xuất hiện ở cuối notebook.


### **4.6. Chỉ mục phân cấp (Hierarchical Indexing / MultiIndex)**  
#### **Khái niệm:** MultiIndex cho phép biểu diễn **chỉ mục đa cấp** trên **Series** hoặc **DataFrame**, giúp mô hình hóa dữ liệu nhiều chiều trong cấu trúc 1D/2D. 
#### Chúng ta có thể **tạo MultiIndex trực tiếp**, **chọn/lọc (indexing, slicing)**, **tính toán thống kê**, và **chuyển đổi** qua lại giữa dạng phẳng và đa cấp.


### **4.6.1. Giới thiệu về MultiIndex**

> ### ***Đặt vấn đề:*** xem xét cách chúng ta có thể biểu diễn dữ liệu hai chiều trong một Series một chiều. Cụ thể, 
-   #### Xét một Series lưu dữ liệu trong đó mỗi điểm có một chuỗi ký tự và khóa.

#### **Bài toán:** Giả sử chúng ta có dữ liệu thống kê về các tỉnh /thành phố từ các thời điểm khác nhau **2015 và 2020**. Sử dụng các công cụ Pandas chúng ta có thể tạo Series/DataFrame bằng Tuple Index để thể hiện dữ liệu thống kê.

#### **Ví dụ 4.6.1.1** Chỉ dùng Tuple Index, để lưu trữ dữ liệu thống kê ở 2 thời điểm khác nhau.  
#### (Cách làm thủ công)

In [1]:
import pandas as pd
#1. Định nghĩa Tuple đại diện cho tỉnh/TP - Năm tương ứng
index_tuples = [
                ('Hà Nội', 2015), ('Hà Nội', 2020),
                ('Nam Định', 2015), ('Nam Định', 2020),
                ('Thanh Hóa', 2015), ('Thanh Hóa', 2020),
                ('Đà Nẵng', 2015), ('Đà Nẵng', 2020),
                ('Hồ Chí Minh', 2015), ('Hồ Chí Minh', 2020)]
# 2. Dữ liệu (Sử dụng nguồn dữ liệu chính xác đã thống nhất)
data = [ 7216000, 8246540,
        1850600, 1780330,
        3514200, 3664940,
        1028800, 1169480,
        8146300, 9227600]

In [2]:
# 3. Tạo Series (CHỈ SỬ DỤNG TUPLE INDEX)
vn_pop = pd.Series(data, index=index_tuples)

print("Series sử dụng Index bằng Tuple (Cách thủ công):")
vn_pop

Series sử dụng Index bằng Tuple (Cách thủ công):

(Hà Nội, 2015)         7216000
(Hà Nội, 2020)         8246540
(Nam Định, 2015)       1850600
(Nam Định, 2020)       1780330
(Thanh Hóa, 2015)      3514200
(Thanh Hóa, 2020)      3664940
(Đà Nẵng, 2015)        1028800
(Đà Nẵng, 2020)        1169480
(Hồ Chí Minh, 2015)    8146300
(Hồ Chí Minh, 2020)    9227600
dtype: int64

>#### Truy vấn và xử lý dữ liệu từ DataFrame vn_pop được tạo ra ở trên. 
#### Yêu cầu:
#### 1.  Cho biết dân số Hà Nội (2015, 2020) và Nam Định (2015)?
#### 2.  Cho biết số liệu dân số của tất cả các tỉnh thành phố trong năm 2020?

#### Giải quyết yêu cầu 1

#### **Ví dụ 4.6.1.2**

In [3]:
#Xử lý lý yêu cầu 1. (Ví dụ 4.6.1.2)
vn_pop[('Hà Nội',2015):('Nam Định',2015)] #Cho biết dân số Hà Nội (2015-2020) và Nam Định (2015)

(Hà Nội, 2015)      7216000
(Hà Nội, 2020)      8246540
(Nam Định, 2015)    1850600
dtype: int64

In [4]:
vn_pop.index

Index([     ('Hà Nội', 2015),      ('Hà Nội', 2020),    ('Nam Định', 2015),
          ('Nam Định', 2020),   ('Thanh Hóa', 2015),   ('Thanh Hóa', 2020),
           ('Đà Nẵng', 2015),     ('Đà Nẵng', 2020), ('Hồ Chí Minh', 2015),
       ('Hồ Chí Minh', 2020)],
      dtype='object')

#### Giải quyết yêu cầu 2: Truy vấn dữ liệu năm 2020
  - Để lọc tất cả các hàng có Năm là 2020, chúng ta phải viết code thủ công để tạo ra một mặt nạ (mask) dựa trên phần tử thứ hai (i[1]) của mỗi Tuple trong Index.

#### **Ví dụ 4.6.1.3**

In [5]:
vn_pop[[i for i in vn_pop.index if i[1]==2020]]

(Hà Nội, 2020)         8246540
(Nam Định, 2020)       1780330
(Thanh Hóa, 2020)      3664940
(Đà Nẵng, 2020)        1169480
(Hồ Chí Minh, 2020)    9227600
dtype: int64

### ⚠️ `Phân tích sự bất cập của Phương pháp thủ công (Vòng lặp)`

#### Phương pháp trên kém hiệu quả và có các bất cập sau:

1.  **Bất cập về Hiệu suất (Vòng lặp)**: Để lọc dữ liệu, Pandas buộc phải **duyệt qua từng phần tử** trong Index. Đây là một **vòng lặp** (`for i in vn_pop.index`) và sẽ **cực kỳ chậm** với dữ liệu lớn (Big Data).
2.  **Bất cập về Tính rõ ràng:** Chúng ta phải biết chính xác **chỉ số 1** (`i[1]`) của Tuple để lấy thông tin "Năm". Nếu cấu trúc Index thay đổi (ví dụ: thêm cấp độ Tên quận), mã này sẽ **bị lỗi** vì chỉ số 1 không còn là "Năm" nữa.

#### Cách để tiếp cận và giải quyết các bất cập trên một cách đơn giản đó chính là **Hierarchical Indexing** thông qua **MultiIndex object**.


#### **Kết luận:** MultiIndex là giải pháp thay thế, cho phép chúng ta truy vấn theo **tên** (`'Năm'`) và sử dụng các thuật toán **được tối ưu hóa** của Pandas mà **không cần vòng lặp**.

#### **Ví dụ 4.6.1.4. Tạo MultiIndex từ danh sách tuples**

In [6]:
#Tạo chỉ mục đa cấp chẳng hạn multi_idx từ danh sách các tuple
multi_idx = pd.MultiIndex.from_tuples(index_tuples, names=['Tỉnh/TP', 'Năm'])
multi_idx

MultiIndex([(     'Hà Nội', 2015),
            (     'Hà Nội', 2020),
            (   'Nam Định', 2015),
            (   'Nam Định', 2020),
            (  'Thanh Hóa', 2015),
            (  'Thanh Hóa', 2020),
            (    'Đà Nẵng', 2015),
            (    'Đà Nẵng', 2020),
            ('Hồ Chí Minh', 2015),
            ('Hồ Chí Minh', 2020)],
           names=['Tỉnh/TP', 'Năm'])

In [7]:
type(multi_idx)

pandas.core.indexes.multi.MultiIndex

#### Bước tiếp theo, chúng ta reindex lại Series vn_pop ở trên bằng MultiIndex mới để thấy rõ được sự phân cấp của dữ liệu:

#### **Ví dụ 4.6.1.5. Reindex Series theo MultiIndex vừa tạo**

In [8]:
vn_pop_mul = vn_pop.reindex(multi_idx)      #reindex lại Series vn_pop theo MultiIndex mới là multi_idx, kết quả trả vao một series mới là vn_pop_mul
vn_pop_mul                                  # vn_pop_mul này khác với vn_pop ban đâu (nó là một Series có chỉ mục đa cấp )

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

In [9]:
type(vn_pop_mul)

pandas.core.series.Series

#### Quay trở lại câu hỏi: lấy số liệu toàn bộ các tỉnh/TP về số liệu dân số năm 2020 chúng ta có thể thực hiện đơn giản như sau:

#### **Ví dụ 4.6.1.6. Truy vấn theo cấp (chọn toàn bộ năm 2020)**

In [10]:
vn_pop_mul[:, 2020]

Tỉnh/TP
Hà Nội         8246540
Nam Định       1780330
Thanh Hóa      3664940
Đà Nẵng        1169480
Hồ Chí Minh    9227600
dtype: int64

In [11]:
vn_pop[:,2020]  #Bị lỗi ngay vì vn_pop có chỉ mục không phải là đa cấp (MultiIndex)

KeyError: 'key of type tuple not found and not a MultiIndex'

> #### Chỉ mục đa cấp theo chiều mở rộng – Multiplex as extra dimension[]
#### Phương thức **unstack()**: Chuyển đổi một Series có chỉ mục đa cấp thành một DataFrame thông thường. 
#### Cú pháp:
``` Python
        Series.unstack(level=-1, fill_value=None)
```
Trong đó:
  - level (tùy chọn): Xác định cấp chỉ mục muốn di chuyển từ hàng thành cột. Mặc định là -1, tức là di chuyển cấp chỉ mục cuối cùng.
  - fill_value (tùy chọn): Xác định giá trị được sử dụng để điền vào các ô bị thiếu sau khi unstack. Mặc định là None, nghĩa là các ô thiếu sẽ được điền bằng giá trị NaN.
#### Lưu ý: áp dụng cho đối tượng Series, trong đó Series phải có chỉ mục đa cấp.


#### **Ví dụ 4.6.1.7–4.6.1.8. Chuyển đổi giữa dạng rộng và dài (unstack/stack)**
Tạo **DataFrame** từ `vn_pop`, sau đó dùng **unstack** để đưa **Năm** lên cột (rộng), và **stack** để quay lại dạng **Series MultiIndex** (dài).

In [12]:
vn_pop_mul              #Series đa cấp

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

#### Ví dụ 4.6.1.7. Chuyển Series thành DataFrame vn_pop_df.

In [13]:
vn_pop_df = vn_pop_mul.unstack('Năm')           #chuyển Series đa cấp vn_pop_mul thành DataFrame vn_pop_df
print("DataFrame dạng rộng (cột là Năm):")
display(vn_pop_df)

DataFrame dạng rộng (cột là Năm):

Năm             2015     2020
Tỉnh/TP
Hà Nội       7216000  8246540
Hồ Chí Minh  8146300  9227600
Nam Định     1850600  1780330
Thanh Hóa    3514200  3664940
Đà Nẵng      1028800  1169480

In [14]:
type(vn_pop_df)

pandas.core.frame.DataFrame

#### Sử dụng hàm pd.stack() để chuyển DataFrame thành Series có chỉ mục đa cấp (MultiIndex)

In [15]:
print("\nSeries dạng dài (stack lại):")
display(vn_pop_df.stack())

Series dạng dài (stack lại):

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Hồ Chí Minh  2015    8146300
             2020    9227600
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
dtype: int64

In [16]:
type(vn_pop_df.stack())

pandas.core.series.Series

##### Ngược lại với unstack(), phương thức stack() chuyển đổi từ một DataFrame có cấu trúc dữ liệu "chỉ mục thông thường - conventionally indexed" thành một Series có cấu trúc dữ liệu "multiply indexed" (cấp chỉ mục đa cấp).
#### Cú pháp:
```Python
    DataFrame.stack(level=-1, dropna=True)
```
Trong đó:
  - level là một tham số tùy chọn để chỉ định mức chỉ mục (level) hoặc tên cột để thực hiện stack. Mặc định là -1, có nghĩa là stack tất cả các mức chỉ mục hiện có.
  - dropna là một tham số tùy chọn để chỉ định xem liệu các giá trị NaN (không có giá trị) có nên được bỏ qua hay không. Mặc định là True, nghĩa là các hàng chứa giá trị NaN sẽ không được bao gồm trong kết quả.

#### **Ví dụ 4.6.1.8.**

In [17]:
vn_pop.unstack()

ValueError: index must be a MultiIndex to unstack, <class 'pandas.core.indexes.base.Index'> was passed

In [13]:
type(vn_pop_df)

pandas.core.frame.DataFrame

In [17]:
vn_pop_df.stack()

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Hồ Chí Minh  2015    8146300
             2020    9227600
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
dtype: int64

In [15]:
type(vn_pop_df.stack())

pandas.core.series.Series

### >**`Bài toán đặt ra (Problems?)`**
#### Có thể giải quyết bài toán trên bằng DataFrame, tại sao lại phải phức tạp hóa vấn đề **bằng cách dùng Series rồi thêm MultiIndex?**

#### Từ việc sử dụng MultiIndex cho Series (1D) để biểu diễn dữ liệu 2D -> 
>#### Hoàn toàn có thể lưu trữ dữ liệu 3D và hơn nữa (4D, 5D,...) trên DataFrame (2D). 
* ### Cứ thêm 1 cấp index thì ta lại thêm 1 chiều dữ liệu

#### Giả sử ta cần biểu diễn thêm cột dữ liệu việc làm cho mỗi tỉnh/thành phố vào mỗi năm (ví dụ: dân số trên 15 tuổi có việc); 
>với Multi Index, điều này dễ dàng như thêm một cột khác vào DataFrame:


#### **Ví dụ 4.6.1.9. Mở rộng chiều (thêm biến mới)**
Thêm cột **"Có việc"** để minh họa dữ liệu nhiều chiều hơn. Khi cần, có thể sử dụng **MultiIndex** cho cả **chỉ mục hàng** và **cột**.

##### Thêm cột dân số trên 15 tuổi có việc làm của mỗi tính/thành phố vào các năm 2015, 2020.

In [18]:
vn_pop_df

Năm             2015     2020
Tỉnh/TP
Hà Nội       7216000  8246540
Hồ Chí Minh  8146300  9227600
Nam Định     1850600  1780330
Thanh Hóa    3514200  3664940
Đà Nẵng      1028800  1169480

In [19]:
# 1.(Giá trị minh họa hỗ trợ trình bày )
co_viec_2015 = [3752320, 1080750, 1512340, 512340, 492000]
co_viec_2020 = [4042454, 1011049, 1600000, 600000, 520000]

vn_pop_df_expanded = pd.DataFrame({
    ('Tổng dân số', 2015): vn_pop_df[2015],
    ('Tổng dân số', 2020): vn_pop_df[2020],
    ('Có việc', 2015): co_viec_2015,
    ('Có việc', 2020): co_viec_2020,
}, index=vn_pop_df.index)

#2. Tạo MultiIndex vn_pop_df_expanded.columns từ tuple
vn_pop_df_expanded.columns = pd.MultiIndex.from_tuples(vn_pop_df_expanded.columns, names=['Chỉ tiêu', 'Năm'])

vn_pop_df_expanded

Chỉ tiêu    Tổng dân số           Có việc
Năm                2015     2020     2015     2020
Tỉnh/TP
Hà Nội          7216000  8246540  3752320  4042454
Hồ Chí Minh     8146300  9227600  1080750  1011049
Nam Định        1850600  1780330  1512340  1600000
Thanh Hóa       3514200  3664940   512340   600000
Đà Nẵng         1028800  1169480   492000   520000

In [20]:
df_co_viec=vn_pop_df_expanded['Có việc']/vn_pop_df_expanded['Tổng dân số']
df_co_viec

Năm              2015      2020
Tỉnh/TP
Hà Nội       0.520000  0.490200
Hồ Chí Minh  0.132668  0.109568
Nam Định     0.817216  0.898710
Thanh Hóa    0.145791  0.163713
Đà Nẵng      0.478227  0.444642

In [21]:
# Kiểm tra index của f_co_viec có phải MultiIndex không
is_multiindex = isinstance(vn_pop_df_expanded.columns, pd.MultiIndex)
is_multiindex

True

In [22]:
df_co_viec.stack()

Tỉnh/TP      Năm
Hà Nội       2015    0.520000
             2020    0.490200
Hồ Chí Minh  2015    0.132668
             2020    0.109568
Nam Định     2015    0.817216
             2020    0.898710
Thanh Hóa    2015    0.145791
             2020    0.163713
Đà Nẵng      2015    0.478227
             2020    0.444642
dtype: float64

In [21]:
df_co_viec.T

Tỉnh/TP  Hà Nội  Hồ Chí Minh  Nam Định  Thanh Hóa   Đà Nẵng
Năm
2015     0.5200     0.132668  0.817216   0.145791  0.478227
2020     0.4902     0.109568  0.898710   0.163713  0.444642

### **4.6.2. Các phương thức tạo MultiIndex**

#### **a.Tạo MultiIndex cho hàng**

#### **Ví dụ 4.6.2.1.**
#### Hãy tạo ra một DataFrame kích thước 4x2 với dữ liệu ngẫu nhiên là các số từ phân phối đều từ 0 đến 1. Cấu trúc của DataFrame được xác định bằng cách sử dụng một MultiIndex làm chỉ mục hàng (index) và tên cột (Columns).

In [22]:
import numpy as np
df = pd.DataFrame(np.random.rand(4,2),
                  index=[['a','a','b','b'],[1,2,1,2]],
                  columns=['data1','data2'])

df

        data1     data2
a 1  0.696521  0.757752
  2  0.744782  0.418740
b 1  0.366441  0.224107
  2  0.753324  0.994552

#### **b.Tạo MultiIndex từ mảng**
#### **Ví dụ 4.6.2.2**

In [23]:
idx_arr=[['a','a','b','b'],[1,2,1,2]]
idx_arr

[['a', 'a', 'b', 'b'], [1, 2, 1, 2]]

In [24]:
data=np.random.rand(4,3)   #Tạo mảng dữ liệu ngẫu nhiên.

#Tạo đối tượng MultiIndex từ mảng idx_arr
multi_index=pd.MultiIndex.from_arrays(idx_arr,names = ['Data1','Data2'])     #Tạo multiIndex từ mảng
#Tạo DataFrame df.
df=pd.DataFrame(data,index  = multi_index,
                     columns=['Value1', 'Value2','Value3'])
df

               Value1    Value2    Value3
Data1 Data2
a     1      0.163271  0.868712  0.228810
      2      0.379068  0.557357  0.917392
b     1      0.032283  0.295081  0.362582
      2      0.484549  0.580996  0.943113

#### **c. Tạo MultiIndex từ tuples**
#### **Ví dụ 4.6.2.3**

In [25]:
#Tạo một danh sách các tuples.
idx_tuples=[('a',1),('a',2),('b',1),('b',2)]
data=np.random.randn(4,3)   #Tạo mảng dữ liệu ngẫu nhiên.
df=pd.DataFrame(data,index=idx_tuples,
                     columns=['Value1','Value2','Value3'])
df

          Value1    Value2    Value3
(a, 1)  0.193507  0.769236 -0.262730
(a, 2)  0.045924 -0.534128  0.470311
(b, 1) -0.528449  0.265877 -0.780881
(b, 2)  0.229975 -1.230162  0.293608

#### **d. from_product - Tạo MultiIndex  từ tích Descartes.**
#### **Ví dụ 4.6.2.4**
##### Giả sử: A = {'a', 'b'} và B = {1,2,3} thì:
##### A×B = {('a',1),( 'a',2),( 'a',3),( 'b',1),( 'b',2),( 'b',3)}

In [26]:
arr1 = ['a','b']
arr2 = [1, 2, 3]
multi_idx=pd.MultiIndex.from_product([arr1,arr2],    #Tạo muliIndex 'multi_idx' từ tích  Descartes
                         names=['key1','key2'])
df = pd.DataFrame(np.random.randn(6,3),
                       index = multi_idx,
                       columns = ['Value1', 'Value2', 'Value3'])
df

             Value1    Value2    Value3
key1 key2
a    1    -0.893664  0.220044 -2.570192
     2    -0.672753  0.137681 -1.656646
     3    -0.175817  0.418587 -1.458699
b    1     0.802577 -0.270037 -0.310550
     2     0.952079 -0.345676 -0.367870
     3     1.480800 -0.007733 -2.086961

#### **e. Tạo MultiIndex cho cột**
#### **Ví dụ 4.6.2.5**. Tạo một DataFrame với một chỉ mục đa cấp cho cả hàng và cột để lưu trữ dữ liệu điểm thi các môn Toán, Lý, Hóa của các học sinh, theo năm học, đợt thi, môn thi như sau:

In [27]:
import pandas as pd
import numpy as np
index=pd.MultiIndex.from_product([[2020,2021,2022],[1,2,3]],                    # 3 năm học 2020, 2021, 2022
                          names=['Năm','Lần thi'])                              # Lần thi : 1, 2, 3
columns=pd.MultiIndex.from_product([['Bình','Lan','Vân'],
                                 ['Toán','Lý','Hóa']],
                           names=['Học sinh','Môn học'])

#Tạo dữ liệu mẫu, là mảng kích thước 9x9 với các giá trị ngẫu nhiên từ 5-10
data=np.random.randint(5,10,(9,9))
'''Tạo DataFrame score với dữ liệu ngẫu nhiên từ mảng data kích thước 9x9 trong đó các chỉ mục hàng và cột được thiết lập'''
score=pd.DataFrame(data,index=index, columns=columns)
score

Học sinh     Bình         Lan         Vân
Môn học      Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Năm  Lần thi
2020 1          8  7   6    5  8   6    6  7   8
     2          6  8   7    9  8   9    6  5   5
     3          9  9   6    7  7   7    6  9   6
2021 1          5  9   7    7  6   6    7  5   7
     2          5  7   8    9  9   6    6  7   8
     3          9  6   5    9  9   7    8  9   5
2022 1          8  7   8    8  7   6    8  7   6
     2          9  7   7    8  6   5    5  7   6
     3          7  7   6    6  8   6    9  5   9

#### Về cơ bản, dữ liệu ở trên là **dữ liệu 4 chiều**: năm, Lần thi, học sinh và môn học. 
##### Với việc cấu trúc như trên, để lấy dữ liệu của 1 học sinh thì ta chỉ cần index tên học sinh đó như sau:

In [28]:
score['Bình']           #(Vi dụ 4.6.2.6)

Môn học       Toán  Lý  Hóa
Năm  Lần thi
2020 1           8   7    6
     2           6   8    7
     3           9   9    6
2021 1           5   9    7
     2           5   7    8
     3           9   6    5
2022 1           8   7    8
     2           9   7    7
     3           7   7    6


### **4.6.3. Lập chỉ mục, cắt (slicing) và truy vấn theo cấp**
- Dùng **`.loc`** với `pd.IndexSlice` hoặc `slice(None)` để chọn theo từng cấp.  
- Dùng **`.xs(level=...)`** để cắt nhanh một cấp.  
- Dùng **`.swaplevel()`**, **`.sort_index()`** để đổi thứ tự cấp, sắp xếp.  
#### **4.6.3.1. Lập chỉ mục**

In [30]:
score

Học sinh     Bình         Lan         Vân
Môn học      Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Năm  Lần thi
2020 1          9  8   6    8  8   5    5  8   6
     2          6  7   8    7  9   7    6  5   7
     3          7  8   9    6  7   8    5  5   6
2021 1          9  5   8    9  5   5    6  6   6
     2          5  9   7    5  8   5    9  7   5
     3          5  5   7    7  8   9    9  7   9
2022 1          8  5   7    9  6   5    5  6   8
     2          6  7   7    9  5   5    8  5   8
     3          9  7   9    8  6   8    8  8   5

##### Sử dụng .loc để chọn dữ liệu theo các cấp độ của Index hàng và cột.

In [29]:
# Lập chỉ mục hàng: Chọn kết quả của năm 2021
print("1.1. Kết quả thi của cả 3 lần thi trong năm 2021:")
print(score.loc[2021])

1.1. Kết quả thi của cả 3 lần thi trong năm 2021:
Học sinh Bình         Lan         Vân
Môn học  Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Lần thi
1           5  9   7    7  6   6    7  5   7
2           5  7   8    9  9   6    6  7   8
3           9  6   5    9  9   7    8  9   5

In [30]:
# Lập chỉ mục hàng: Chọn kết quả thi Lần 2 của năm 2020 (dùng tuple)
print("\n1.2. Kết quả thi Lần 2 của năm 2020:")
print(score.loc[(2020, 2)])

1.2. Kết quả thi Lần 2 của năm 2020:
Học sinh  Môn học
Bình      Toán       6
          Lý         8
          Hóa        7
Lan       Toán       9
          Lý         8
          Hóa        9
Vân       Toán       6
          Lý         5
          Hóa        5
Name: (2020, 2), dtype: int32

In [31]:
# Lập chỉ mục cột: Chọn điểm môn Toán của tất cả học sinh
print("\n1.3. Điểm môn Toán của tất cả học sinh (Cấp 'Môn học'):")
print(score.loc[:, pd.IndexSlice[:, 'Toán']]) # Dùng slice(None) hoặc : cho cấp 'Học sinh'

1.3. Điểm môn Toán của tất cả học sinh (Cấp 'Môn học'):
Học sinh     Bình  Lan  Vân
Môn học      Toán Toán Toán
Năm  Lần thi
2020 1          8    5    6
     2          6    9    6
     3          9    7    6
2021 1          5    7    7
     2          5    9    6
     3          9    9    8
2022 1          8    8    8
     2          9    8    5
     3          7    6    9

In [32]:
# Lập chỉ mục cả hàng và cột: Điểm Lý của Lan trong Lần 3 của năm 2022
print("\n1.4. Điểm Lý của Lan, Lần 3, năm 2022:")
print(score.loc[(2022, 3), ('Lan', 'Lý')])

1.4. Điểm Lý của Lan, Lần 3, năm 2022:
8

#### **4.6.3.2.Cắt nhanh một cấp độ (.xs(level=...))**
#### Sử dụng .xs() để chọn một giá trị duy nhất tại một cấp độ Index cụ thể, loại bỏ cấp độ đó khỏi kết quả (mặc định).

#### **Phương thức .xs()** cho phép thực hiện một "lát cắt ngang" (cross-section) của dữ liệu. Nó được dùng để chọn một giá trị duy nhất từ một cấp độ Index cụ thể, đồng thời loại bỏ cấp độ đó ra khỏi Index kết quả (mặc định).
#### Cú pháp:
```python
            DataFrame.xs(key, axis=0, level=None, drop_level=True)
    trong đó:
```
* #### **key**: Giá trị cụ thể  muốn chọn (ví dụ: 2021, 'Toán').
* #### **axis**: Trục muốn áp dụng: 0 (Index/Hàng) hoặc 1 (Columns/Cột).
* #### **level**: Tên hoặc vị trí (số nguyên) của cấp độ Index muốn cắt.
* #### **drop_level**: Mặc định là True. Nếu True, cấp độ Index bạn vừa dùng để cắt sẽ bị loại bỏ khỏi Index của kết quả trả về.

#### **Ví dụ** Sử dụng dataFrame score ở trên
* #### Index hàng: (Năm, Lần thi) 
* #### Index cột: (Học sinh, Môn học)

In [32]:
score

Học sinh     Bình         Lan         Vân
Môn học      Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Năm  Lần thi
2020 1          9  8   6    8  8   5    5  8   6
     2          6  7   8    7  9   7    6  5   7
     3          7  8   9    6  7   8    5  5   6
2021 1          9  5   8    9  5   5    6  6   6
     2          5  9   7    5  8   5    9  7   5
     3          5  5   7    7  8   9    9  7   9
2022 1          8  5   7    9  6   5    5  6   8
     2          6  7   7    9  5   5    8  5   8
     3          9  7   9    8  6   8    8  8   5

1. Cắt trên Index Hàng (Row Index)

In [33]:
# Lấy kết quả Lần thi = 3
result_row = score.xs(3, level='Lần thi', axis=0) #trích xuất nhanh chóng kết quả thi lần 3 của tất cả các năm học

print(result_row)

Học sinh Bình         Lan         Vân
Môn học  Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Năm
2020        9  9   6    7  7   7    6  9   6
2021        9  6   5    9  9   7    8  9   5
2022        7  7   6    6  8   6    9  5   9

In [ ]:
# Cắt ngang theo cấp độ hàng (Row Index): Lấy kết quả của Lần thi số 3
print("2.1. Cắt ngang theo 'Lần thi' = 3 (trục 0 - Index hàng):")

In [33]:
# Lấy kết quả Lần 3 của tất cả các năm
print(score.xs(3, level='Lần thi'))

Học sinh Bình         Lan         Vân
Môn học  Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Năm
2020        7  8   9    6  7   8    5  5   6
2021        5  5   7    7  8   9    9  7   9
2022        9  7   9    8  6   8    8  8   5

In [34]:
# Cắt ngang theo cấp độ cột (Column Index): Lấy điểm của môn Hóa
print("\n2.2. Cắt ngang theo 'Môn học' = Hóa (trục 1 - Index cột):")
# Lấy điểm Hóa của tất cả học sinh
print(score.xs('Hóa', level='Môn học', axis=1))

2.2. Cắt ngang theo 'Môn học' = Hóa (trục 1 - Index cột):
Học sinh      Bình  Lan  Vân
Năm  Lần thi
2020 1           6    6    8
     2           7    9    5
     3           6    7    6
2021 1           7    6    7
     2           8    6    8
     3           5    7    5
2022 1           8    6    6
     2           7    5    6
     3           6    6    9

3. 🔄 Đổi thứ tự và Sắp xếp (.swaplevel(), .sort_index())

In [35]:
# 3.1. Hoán đổi cấp độ Index hàng
# Đổi chỗ 'Năm' (level 0) và 'Lần thi' (level 1)
score_swapped_row = score.swaplevel('Năm', 'Lần thi', axis=0)

print("3.1. DataFrame sau khi Hoán đổi cấp độ hàng ('Lần thi' ra ngoài):")
print(score_swapped_row.head())

# 3.2. Sắp xếp Index sau khi hoán đổi (Rất quan trọng)
score_sorted = score_swapped_row.sort_index(axis=0)

print("\n3.2. DataFrame sau khi Sắp xếp Index hàng:")
print(score_sorted.head())

# 3.3. Ví dụ truy vấn hiệu quả sau khi sắp xếp (Truy vấn theo 'Năm' - bây giờ là cấp độ bên trong)
# Lấy kết quả của tất cả các Lần thi 1, chỉ riêng năm 2021 (Nếu không sort_index, truy vấn này có thể không hoạt động tốt)
print("\n3.3. Truy vấn tất cả kết quả Năm 2021, sau khi đã sắp xếp:")
print(score_sorted.loc[1, 2021])

# 3.4. Hoán đổi và Sắp xếp cấp độ cột
# Đổi chỗ 'Học sinh' (level 0) và 'Môn học' (level 1) trên cột
score_sorted_col = score.swaplevel('Học sinh', 'Môn học', axis=1).sort_index(axis=1)

print("\n3.4. DataFrame sau khi Sắp xếp Cấp độ Cột ('Môn học' ra ngoài):")
print(score_sorted_col.iloc[:, 0:6].head(3)) # Chỉ hiển thị 6 cột đầu (Toán, Lý của Bình/Lan)

3.1. DataFrame sau khi Hoán đổi cấp độ hàng ('Lần thi' ra ngoài):
Học sinh     Bình         Lan         Vân
Môn học      Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Lần thi Năm
1       2020    8  7   6    5  8   6    6  7   8
2       2020    6  8   7    9  8   9    6  5   5
3       2020    9  9   6    7  7   7    6  9   6
1       2021    5  9   7    7  6   6    7  5   7
2       2021    5  7   8    9  9   6    6  7   8

3.2. DataFrame sau khi Sắp xếp Index hàng:
Học sinh     Bình         Lan         Vân
Môn học      Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Lần thi Năm
1       2020    8  7   6    5  8   6    6  7   8
        2021    5  9   7    7  6   6    7  5   7
        2022    8  7   8    8  7   6    8  7   6
2       2020    6  8   7    9  8   9    6  5   5
        2021    5  7   8    9  9   6    6  7   8

3.3. Truy vấn tất cả kết quả Năm 2021, sau khi đã sắp xếp:
Học sinh  Môn học
Bình      Toán       5
          Lý         9
          Hóa        7
Lan       Toán       7
          Lý         6
          Hóa        6
Vân       Toán       7
          Lý         5
          Hóa        7
Name: (1, 2021), dtype: int32

3.4. DataFrame sau khi Sắp xếp Cấp độ Cột ('Môn học' ra ngoài):
Môn học       Hóa           Lý
Học sinh     Bình Lan Vân Bình Lan Vân
Năm  Lần thi
2020 1          6   6   8    7   8   7
     2          7   9   5    8   8   5
     3          6   7   6    9   7   9

#### **a. Đối tượng Series**

In [34]:
vn_pop_mul                          #Series đa cấp

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

In [40]:
idx = pd.IndexSlice
# Chọn 'Tổng dân số' năm 2020 cho tất cả tỉnh/thành
chon = vn_pop_df_expanded.loc[:, idx['Tổng dân số', 2020]]
chon

Tỉnh/TP
Hà Nội         8246540
Hồ Chí Minh    9227600
Nam Định       1780330
Thanh Hóa      3664940
Đà Nẵng        1169480
Name: (Tổng dân số, 2020), dtype: int64

In [44]:
type(chon)

pandas.core.series.Series

In [41]:
#Ví dụ 4.6.3.1. (TLHT)
print('Dân số TP Hồ Chí Minh năm 2015 là:',vn_pop_mul['Hồ Chí Minh',2015])

Dân số TP Hồ Chí Minh năm 2015 là: 8146300

In [42]:
#Ví dụ 4.6.3.2.
print("Dân số tỉnh Nam Định trong các năm 2015, 2020 là:\n",vn_pop_mul['Nam Định'])

Dân số tỉnh Nam Định trong các năm 2015, 2020 là:
 Năm
2015    1850600
2020    1780330
dtype: int64

In [48]:
##Ví dụ 4.6.3.3.
print("Dân số tỉnh/thành phố năm  2020 là:\n", vn_pop_mul.loc[:,2020])

Dân số tỉnh/thành phố năm  2020 là:
 Tỉnh/TP
Hà Nội         8246540
Nam Định       1780330
Thanh Hóa      3664940
Đà Nẵng        1169480
Hồ Chí Minh    9227600
dtype: int64

#### **Dùng với Masks, Fancy Indexing:**

In [37]:
vn_pop_mul

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

In [39]:
mask_1= vn_pop >5000000
mask_1

(Hà Nội, 2015)          True
(Hà Nội, 2020)          True
(Nam Định, 2015)       False
(Nam Định, 2020)       False
(Thanh Hóa, 2015)      False
(Thanh Hóa, 2020)      False
(Đà Nẵng, 2015)        False
(Đà Nẵng, 2020)        False
(Hồ Chí Minh, 2015)     True
(Hồ Chí Minh, 2020)     True
dtype: bool

In [40]:
#Ví dụ 4.6.3.4.
#Sử dụng mask
print("Tỉnh/Thành phố có dân số lớn hơn 5 triệu: \n",vn_pop_mul[mask_1])

Tỉnh/Thành phố có dân số lớn hơn 5 triệu:
 Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

In [41]:
arr=['Hà Nội', 'Đà Nẵng']

In [42]:
#Sử dụng Fancy Indexing
print("Dân số Hà Nội và Đà Nẵng: \n", vn_pop_mul[arr])

Dân số Hà Nội và Đà Nẵng:
 Tỉnh/TP  Năm
Hà Nội   2015    7216000
         2020    8246540
Đà Nẵng  2015    1028800
         2020    1169480
dtype: int64

In [43]:
# Cắt nhanh theo cấp cột (xs theo 'Năm' = 2015)
xs_2015 = vn_pop_df_expanded.xs(2015, level='Năm', axis=1)
xs_2015

Chỉ tiêu     Tổng dân số  Có việc
Tỉnh/TP
Hà Nội           7216000  3752320
Hồ Chí Minh      8146300  1080750
Nam Định         1850600  1512340
Thanh Hóa        3514200   512340
Đà Nẵng          1028800   492000

In [44]:
# Đổi thứ tự cấp cột và sắp xếp chỉ mục
swapped = vn_pop_df_expanded.swaplevel('Chỉ tiêu', 'Năm', axis=1).sort_index(axis=1)
swapped

Năm             2015                 2020
Chỉ tiêu     Có việc Tổng dân số  Có việc Tổng dân số
Tỉnh/TP
Hà Nội       3752320     7216000  4042454     8246540
Hồ Chí Minh  1080750     8146300  1011049     9227600
Nam Định     1512340     1850600  1600000     1780330
Thanh Hóa     512340     3514200   600000     3664940
Đà Nẵng       492000     1028800   520000     1169480

#### **b. Đối tượng DataFrame**
#### Các thao tác indexing và slicing với đối tượng DataFrame cũng gần tương tự như trên đối tượng Series.

In [39]:
score

Học sinh     Bình         Lan         Vân
Môn học      Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Năm  Lần thi
2020 1          8  7   6    9  6   7    9  6   9
     2          7  6   8    8  9   8    6  6   5
     3          5  5   6    9  9   5    6  9   8
2021 1          9  7   6    7  7   5    8  7   5
     2          9  7   8    9  5   7    9  9   7
     3          7  9   6    9  6   6    5  9   6
2022 1          9  6   9    6  9   6    7  9   5
     2          9  7   6    8  6   9    6  8   6
     3          7  8   8    6  5   8    8  5   9

#### **Ví dụ 4.6.3.5**. Xét dữ liệu 4 chiều lưu trữ điểm của các học sinh gồm: năm, lần thi, học sinh và môn học. Chúng ta có thể minh họa qua ví dụ với các thao tác truy xuất thông tin sau:

In [45]:
print("Điểm môn Toán của Lan:\n", score['Lan', 'Toán'],'\n')

print("Điểm môn Lý của Bình và Hóa của Vân:\n",
            score.loc[:,[('Bình','Lý'),('Vân','Hóa')]],'\n')

print("Điểm môn Lý của Vân năm 2021:\n",score.loc[2021,('Vân','Lý')])

print("\nĐiểm Toán của Bình và Hóa của Lan trong năm 2020, 2021:\n",
     score.loc[[2020,2021],[('Bình','Toán'),('Lan','Hóa')]],'\n')

print("Các lần thi học phần Lý mà Lan đạt điểm trên 7:\n",
     score['Lan','Lý'][score['Lan','Lý']>7])

Điểm môn Toán của Lan:
 Năm   Lần thi
2020  1          5
      2          9
      3          7
2021  1          7
      2          9
      3          9
2022  1          8
      2          8
      3          6
Name: (Lan, Toán), dtype: int32

Điểm môn Lý của Bình và Hóa của Vân:
 Học sinh     Bình Vân
Môn học        Lý Hóa
Năm  Lần thi
2020 1          7   8
     2          8   5
     3          9   6
2021 1          9   7
     2          7   8
     3          6   5
2022 1          7   6
     2          7   6
     3          7   9

Điểm môn Lý của Vân năm 2021:
 Lần thi
1    5
2    7
3    9
Name: (Vân, Lý), dtype: int32

Điểm Toán của Bình và Hóa của Lan trong năm 2020, 2021:
 Học sinh     Bình Lan
Môn học      Toán Hóa
Năm  Lần thi
2020 1          8   6
     2          6   9
     3          9   7
2021 1          5   6
     2          5   6
     3          9   7

Các lần thi học phần Lý mà Lan đạt điểm trên 7:
 Năm   Lần thi
2020  1          8
      2          8
2021  2          9
      3          9
2022  3          8
Name: (Lan, Lý), dtype: int32

### **4.6.4. Sắp xếp lại chỉ mục trong MultiIndex**
#### **a. Sorted & unsorted indices**
#### Trong MultiIndex, nếu như chỉ mục không được sắp xếp thì khi người dùng thực hiện slicing từng phần để lấy một số phần tử trong Series hay DataFrame thì sẽ xảy ra lỗi!

In [46]:
vn_pop_mul

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

In [47]:
print("Dân số tỉnh/thành phố năm  2020 là:\n", vn_pop_mul.loc[:,2020])

Dân số tỉnh/thành phố năm  2020 là:
 Tỉnh/TP
Hà Nội         8246540
Nam Định       1780330
Thanh Hóa      3664940
Đà Nẵng        1169480
Hồ Chí Minh    9227600
dtype: int64

#### **Ví dụ 4.6.4.1.**

In [48]:
index = pd.MultiIndex.from_product([['a','c','b'],[1,2,3]],
                               names=['Index A','Index B'])
data = pd.Series(np.random.randint(0,100,(9,)),index=index)
data            #Data là series đa cấp có chỉ mục (multiIndex là index)

Index A  Index B
a        1          48
         2          94
         3          77
c        1           6
         2          36
         3          87
b        1          80
         2          60
         3          25
dtype: int32

Giả sử chúng ta thử slicing lấy dữ liệu theo Index A:

In [ ]:
data['a':'b'] #Lỗi do chỉ mục chưa sắp xêps

>#### **Lưu ý** Pandas bắt buộc index phải được sắp xếp theo thứ tự mới có thể *`lấy được dữ liệu bằng slicing`*.

In [50]:
#Ví dụ 4.6.4.3
data=data.sort_index()              #Sắp xếp index của data
data

Index A  Index B
a        1          48
         2          94
         3          77
b        1          80
         2          60
         3          25
c        1           6
         2          36
         3          87
dtype: int32

In [51]:
data['a':'b']

Index A  Index B
a        1          48
         2          94
         3          77
b        1          80
         2          60
         3          25
dtype: int32

#### **b. Stacking & unstacking indices**

#### Trong mục 4.6.1 ở trên, chúng ta đã sử dụng hai phương thức là stack và unstack để chuyển các Series / DataFrame nhiều chiều về dạng 2 chiều đơn giản, mặt khác hai phương thức này còn hỗ trợ **chọn cấp chỉ mục bằng tham số level.**

#### **Ví dụ 4.6.4.4.**

In [52]:
vn_pop_mul

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

In [53]:
print("Unstack level 0: \n", vn_pop_mul.unstack(level=0))   #với level=0, sẽ (chuyển đổi) Series ‘vn_pop_mul’ 
                                                            #thành DataFrame, với mức chỉ mục đầu tiên 
                                                            # (tỉnh/thành) thành các cột.

Unstack level 0:
 Tỉnh/TP   Hà Nội  Hồ Chí Minh  Nam Định  Thanh Hóa  Đà Nẵng
Năm
2015     7216000      8146300   1850600    3514200  1028800
2020     8246540      9227600   1780330    3664940  1169480

In [54]:
print("Unstack level 0: \n", vn_pop_mul.unstack(level=1))

Unstack level 0:
 Năm             2015     2020
Tỉnh/TP
Hà Nội       7216000  8246540
Hồ Chí Minh  8146300  9227600
Nam Định     1850600  1780330
Thanh Hóa    3514200  3664940
Đà Nẵng      1028800  1169480

In [ ]:
print("\nUnstack level 1: \n", vn_pop_mul.unstack(level=1)) #unstack sẽ (chuyển đổi)  Series ‘vn_pop’ thành DataFrame, #với mức chỉ mục thứ hai (Năm) thành các cột.

Unstack level 0:
 Tỉnh/TP   Hà Nội  Hồ Chí Minh  Nam Định  Thanh Hóa  Đà Nẵng
Năm
2015     7216000      8146300   1850600    3514200  1028800
2020     8246540      9227600   1780330    3664940  1169480

Unstack level 1:
 Năm             2015     2020
Tỉnh/TP
Hà Nội       7216000  8246540
Hồ Chí Minh  8146300  9227600
Nam Định     1850600  1780330
Thanh Hóa    3514200  3664940
Đà Nẵng      1028800  1169480

#### **Ví dụ 4.6.4.5.** Minh họa phương thức stack() có tác dụng ngược lại với unstack(), chúng ta có thể sử dụng phương thức này khi muốn đảo ngược và lấy giá trị gốc ban đầu:

In [55]:
print("vn_pop_mul: \n", vn_pop_mul)

print("\n vn_pop_mul unstack => stack: \n",vn_pop_mul.unstack(level=1).stack())

vn_pop_mul:
 Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

 vn_pop_mul unstack => stack:
 Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Hồ Chí Minh  2015    8146300
             2020    9227600
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
dtype: int64

#### **c. Index setting & resetting**
#### Một trong những cách sắp xếp lại chỉ mục đa cấp đó chính là phương thức reset_index, 
#### Phương thức reset_index sẽ biến hoá chỉ mục đa cấp và biến chúng thành các cột tương ứng:

In [56]:
print("vn_pop_df_expanded DataFrame :\n", vn_pop_df_expanded)

vn_pop_df_expanded DataFrame :
 Chỉ tiêu    Tổng dân số           Có việc
Năm                2015     2020     2015     2020
Tỉnh/TP
Hà Nội          7216000  8246540  3752320  4042454
Hồ Chí Minh     8146300  9227600  1080750  1011049
Nam Định        1850600  1780330  1512340  1600000
Thanh Hóa       3514200  3664940   512340   600000
Đà Nẵng         1028800  1169480   492000   520000

In [57]:
print("\nvn_pop_df sau khi reset index :\n",vn_pop_df_expanded.reset_index())

vn_pop_df sau khi reset index :
 Chỉ tiêu      Tỉnh/TP Tổng dân số           Có việc
Năm                          2015     2020     2015     2020
0              Hà Nội     7216000  8246540  3752320  4042454
1         Hồ Chí Minh     8146300  9227600  1080750  1011049
2            Nam Định     1850600  1780330  1512340  1600000
3           Thanh Hóa     3514200  3664940   512340   600000
4             Đà Nẵng     1028800  1169480   492000   520000

In [58]:
print("vn_pop_df DataFrame :\n", vn_pop_df_expanded)

vn_pop_df DataFrame :
 Chỉ tiêu    Tổng dân số           Có việc
Năm                2015     2020     2015     2020
Tỉnh/TP
Hà Nội          7216000  8246540  3752320  4042454
Hồ Chí Minh     8146300  9227600  1080750  1011049
Nam Định        1850600  1780330  1512340  1600000
Thanh Hóa       3514200  3664940   512340   600000
Đà Nẵng         1028800  1169480   492000   520000

In [59]:
print("\nvn_pop_df sau khi reset index :\n",vn_pop_df_expanded.reset_index())

vn_pop_df sau khi reset index :
 Chỉ tiêu      Tỉnh/TP Tổng dân số           Có việc
Năm                          2015     2020     2015     2020
0              Hà Nội     7216000  8246540  3752320  4042454
1         Hồ Chí Minh     8146300  9227600  1080750  1011049
2            Nam Định     1850600  1780330  1512340  1600000
3           Thanh Hóa     3514200  3664940   512340   600000
4             Đà Nẵng     1028800  1169480   492000   520000

#### **4.6.5. Tính toán với MultiIndex.**
#### Xét ví dụ DataFrame score mà ta đã tạo ở mục 4.6.4:
#### Giả sử chúng ta cần tính điểm trung bình của từng học sinh theo từng môn học trong các năm:

In [60]:
score

Học sinh     Bình         Lan         Vân
Môn học      Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Năm  Lần thi
2020 1          8  7   6    5  8   6    6  7   8
     2          6  8   7    9  8   9    6  5   5
     3          9  9   6    7  7   7    6  9   6
2021 1          5  9   7    7  6   6    7  5   7
     2          5  7   8    9  9   6    6  7   8
     3          9  6   5    9  9   7    8  9   5
2022 1          8  7   8    8  7   6    8  7   6
     2          9  7   7    8  6   5    5  7   6
     3          7  7   6    6  8   6    9  5   9

In [61]:
#Ví dụ 4.6.5.2.1
score.mean(level='Năm') #Bị lỗi do Pandas KHÔNG HỖ TRỢ 'level' trên các phiên bản mới!

TypeError: mean() got an unexpected keyword argument 'level'

#### Trong Pandas phiên bản mới, các hàm thống kê không còn nhận tham số level.
#### Để tính trung bình theo từng cấp của MultiIndex, cần groupby(level=...) trước rồi mới .mean() sau.

In [62]:
score.groupby(level='Năm').mean()

Học sinh      Bình                           Lan                      \
Môn học       Toán        Lý       Hóa      Toán        Lý       Hóa
Năm
2020      7.666667  8.000000  6.333333  7.000000  7.666667  7.333333
2021      6.333333  7.333333  6.666667  8.333333  8.000000  6.333333
2022      8.000000  7.000000  7.000000  7.333333  7.000000  5.666667

Học sinh       Vân
Môn học       Toán        Lý       Hóa
Năm
2020      6.000000  7.000000  6.333333
2021      7.000000  7.000000  6.666667
2022      7.333333  6.333333  7.000000

In [63]:
#Ví dụ 4.6.5.2.
score.mean(level='Môn học', axis=1) #Lỗi do Pandas ngừng hỗ trợ

TypeError: mean() got an unexpected keyword argument 'level'

>`Từ Pandas ≥1.3, tham số level bị loại bỏ, phải dùng groupby() theo cấp của MultiIndex.`

In [64]:
score.groupby(level='Môn học', axis=1).mean()

C:\Users\Admin\AppData\Local\Temp\ipykernel_18184\3134858413.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  score.groupby(level='Môn học', axis=1).mean()

Môn học            Hóa        Lý      Toán
Năm  Lần thi
2020 1        6.666667  7.333333  6.333333
     2        7.000000  7.000000  7.000000
     3        6.333333  8.333333  7.333333
2021 1        6.666667  6.666667  6.333333
     2        7.333333  7.666667  6.666667
     3        5.666667  8.000000  8.666667
2022 1        6.666667  7.000000  8.000000
     2        6.000000  6.666667  7.333333
     3        7.000000  6.666667  7.333333

#### Giải thích: code
* #### level='Môn học': chỉ định tầng của MultiIndex (ở trục cột) mà người dùng muốn nhóm theo.

* #### axis=1: cho biết đang nhóm theo cột, chứ không phải hàng.

* #### .mean(): tính trung bình trên từng nhóm cột.