In [2]:
vn_pop[[i for i in vn_pop.index if i[1]==2020]]

(Hà Nội, 2020)         8246540
(Nam Định, 2020)       1780330
(Thanh Hóa, 2020)      3664940
(Đà Nẵng, 2020)        1169480
(Hồ Chí Minh, 2020)    9227600
dtype: int64

In [3]:
idx=pd.MultiIndex.from_tuples(index, 
names=['Tỉnh/TP','Năm'])
idx

MultiIndex([(     'Hà Nội', 2015),
            (     'Hà Nội', 2020),
            (   'Nam Định', 2015),
            (   'Nam Định', 2020),
            (  'Thanh Hóa', 2015),
            (  'Thanh Hóa', 2020),
            (    'Đà Nẵng', 2015),
            (    'Đà Nẵng', 2020),
            ('Hồ Chí Minh', 2015),
            ('Hồ Chí Minh', 2020)],
           names=['Tỉnh/TP', 'Năm'])

In [4]:
vn_pop = vn_pop.reindex(idx)
vn_pop

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

In [5]:
vn_pop[:,2020]

Tỉnh/TP
Hà Nội         8246540
Nam Định       1780330
Thanh Hóa      3664940
Đà Nẵng        1169480
Hồ Chí Minh    9227600
dtype: int64

In [6]:
print(vn_pop,'\n')
vn_pop_df = vn_pop.unstack()
vn_pop_df

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

Năm             2015     2020
Tỉnh/TP
Hà Nội       7216000  8246540
Hồ Chí Minh  8146300  9227600
Nam Định     1850600  1780330
Thanh Hóa    3514200  3664940
Đà Nẵng      1028800  1169480

In [8]:
vn_pop_df.unstack()

Năm   Tỉnh/TP
2015  Hà Nội         7216000
      Hồ Chí Minh    8146300
      Nam Định       1850600
      Thanh Hóa      3514200
      Đà Nẵng        1028800
2020  Hà Nội         8246540
      Hồ Chí Minh    9227600
      Nam Định       1780330
      Thanh Hóa      3664940
      Đà Nẵng        1169480
dtype: int64

In [9]:
# Tạo MultiIndex cho cột
col_tuples = [('A', 'x'), ('A', 'y'), ('B', 'x'), ('B', 'y')]
columns_idx = pd.MultiIndex.from_tuples(col_tuples, names=['leve1', 'leve2'])
# Tạo DataFrame với MultiIndex cho cột
df = pd.DataFrame([[1, 2, 3, 4], [5, 6, 7, 8]], columns=columns_idx)
print(df)

leve1  A     B
leve2  x  y  x  y
0      1  2  3  4
1      5  6  7  8

In [16]:

import pandas as pd
import numpy as np

# Tạo MultiIndex cho hàng
row_idx = pd.MultiIndex.from_product(
    [[2020, 2021, 2022], [1, 2, 3]],
    names=['Năm', 'Lần thi']
)

# Tạo MultiIndex cho cột
col_idx = pd.MultiIndex.from_product(
    [['Bình', 'Lan', 'Vân'], ['Toán', 'Lý', 'Hóa']],
    names=['Học sinh', 'Môn học']
)

# Dữ liệu mẫu 9x9 giá trị từ 5 đến 10
data = np.random.randint(5, 10, (9, 9))

# Tạo DataFrame
score = pd.DataFrame(data, index=row_idx, columns=col_idx)

score

Học sinh     Bình         Lan         Vân
Môn học      Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Năm  Lần thi
2020 1          5  7   5    9  7   8    6  8   8
     2          8  6   8    9  6   5    7  6   9
     3          9  6   8    7  9   6    6  8   8
2021 1          7  8   5    9  5   9    8  9   5
     2          9  8   7    8  5   9    5  6   6
     3          5  9   6    5  6   5    6  7   7
2022 1          5  8   5    7  5   8    7  9   7
     2          9  6   9    9  8   9    7  5   6
     3          8  9   7    7  8   8    9  9   9

In [17]:
#Sử dụng mask
print("Tỉnh/Thành phố có dân số lớn hơn 5 triệu: \n",vn_pop[vn_pop >5000000])
#Sử dụng Fancy Indexing
print("Dân số Hà Nội và Đà Nẵng: \n", vn_pop[['Hà Nội', 'Đà Nẵng']])

Tỉnh/Thành phố có dân số lớn hơn 5 triệu:
 Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64
Dân số Hà Nội và Đà Nẵng:
 Tỉnh/TP  Năm
Hà Nội   2015    7216000
         2020    8246540
Đà Nẵng  2015    1028800
         2020    1169480
dtype: int64