In [1]:
import pandas as pd
import numpy as np

# 1. Tạo bộ sinh số ngẫu nhiên cố định (seed = 100)
rng = np.random.RandomState(100)

# 2. Tạo mảng NumPy ngẫu nhiên
arr1 = rng.randint(0, 10, 4)       # Mảng 1 chiều gồm 4 số ngẫu nhiên [0,9]
arr2 = rng.randint(0, 10, (3, 4))  # Mảng 2 chiều (3x4) gồm số ngẫu nhiên [0,9]

# 3. Tạo Series và DataFrame từ các mảng
sr = pd.Series(arr1)                            # Series 1 chiều
df = pd.DataFrame(arr2, columns=['A','B','C','D'])  # DataFrame có 4 cột

# 4. In kết quả
print("Series:\n", sr)
print("DataFrame:\n", df)

Series:
 0    8
1    8
2    3
3    7
dtype: int32
DataFrame:
    A  B  C  D
0  7  0  4  2
1  5  2  2  2
2  1  0  8  4

In [3]:
import pandas as pd

# Số liệu top 5 tỉnh/thành đông dân nhất Việt Nam (2023)
population = pd.Series({
    'TP.Hồ Chí Minh': 9411805,
    'Hà Nội': 8330830,
    'Thanh Hóa': 3720000,
    'Nghệ An': 3410000,
    'Đồng Nai': 3097107
})

# Số liệu top 5 tỉnh/thành có diện tích lớn nhất Việt Nam (2023)
area = pd.Series({
    'Nghệ An': 16493,
    'Gia Lai': 15536.9,
    'Sơn La': 14174.4,
    'Đăk Lăk': 13030.5,
    'Thanh Hóa': 11132.2
})

# In kết quả
print("Top 5 tỉnh/thành đông dân nhất Việt Nam 2023:\n", population)
print("\nTop 5 tỉnh/thành có diện tích lớn nhất Việt Nam 2023:\n", area)
density = area/population
print("Mật độ dân số tỉnh/thành :\n", density)

Top 5 tỉnh/thành đông dân nhất Việt Nam 2023:
 TP.Hồ Chí Minh    9411805
Hà Nội            8330830
Thanh Hóa         3720000
Nghệ An           3410000
Đồng Nai          3097107
dtype: int64

Top 5 tỉnh/thành có diện tích lớn nhất Việt Nam 2023:
 Nghệ An      16493.0
Gia Lai      15536.9
Sơn La       14174.4
Đăk Lăk      13030.5
Thanh Hóa    11132.2
dtype: float64
Mật độ dân số tỉnh/thành :
 Gia Lai                NaN
Hà Nội                 NaN
Nghệ An           0.004837
Sơn La                 NaN
TP.Hồ Chí Minh         NaN
Thanh Hóa         0.002993
Đăk Lăk                NaN
Đồng Nai               NaN
dtype: float64

In [4]:
import pandas as pd

# Tạo DataFrame mẫu: dân số, diện tích và mật độ
data = pd.DataFrame({
    'Dân số': [9411805, 8330830, 3720000, 3410000, 3097107],
    'Diện tích': [2095, 3358, 11132.2, 16493, 5905],
    'Mật độ': [4493, 2480, 334, 207, 524]
}, index=['TP.Hồ Chí Minh', 'Hà Nội', 'Thanh Hóa', 'Nghệ An', 'Đồng Nai'])

print("Dữ liệu ban đầu:\n", data)

Dữ liệu ban đầu:
                  Dân số  Diện tích  Mật độ
TP.Hồ Chí Minh  9411805     2095.0    4493
Hà Nội          8330830     3358.0    2480
Thanh Hóa       3720000    11132.2     334
Nghệ An         3410000    16493.0     207
Đồng Nai        3097107     5905.0     524

4.4.2.3

In [6]:
import pandas as pd

data = pd.DataFrame({
    'Dân số': [8330830, 1320000, 1880000, 1220000],
    'Diện tích': [3358.6, 6177.7, 1667.7, 617.0],
    'Mật độ': [2480, 213, 1127, 1977]
}, index=['Hà Nội', 'Quảng Ninh', 'Nam Định', 'Ninh Bình'])

print("Bảng dữ liệu gốc:\n", data)

Bảng dữ liệu gốc:
              Dân số  Diện tích  Mật độ
Hà Nội      8330830     3358.6    2480
Quảng Ninh  1320000     6177.7     213
Nam Định    1880000     1667.7    1127
Ninh Bình   1220000      617.0    1977

In [7]:
print(data)
#Lấy hàng đầu tiên
print("\nDữ liệu của thủ đô Hà Nội:\n",data.iloc[0])
#Lấy dữ liệu 3 hàng đầu tiên
print("\nDữ liệu của Hà Nội, Quảng Ninh và Nam Định:\n",data.iloc[0:3])
#Lấy dữ liệu 2 hàng, 2 cột đầu tiên
print("\nDữ liệu dân số và diện tích của Hà Nội và Quảng Ninh:\n",data.iloc[:2,:2])
#Lấy dữ liệu về mật độ dân số của các tỉnh còn lại
print("Mật độ dân số của các tỉnh/thành phố:\n",data.iloc[:,-1])

             Dân số  Diện tích  Mật độ
Hà Nội      8330830     3358.6    2480
Quảng Ninh  1320000     6177.7     213
Nam Định    1880000     1667.7    1127
Ninh Bình   1220000      617.0    1977

Dữ liệu của thủ đô Hà Nội:
 Dân số       8330830.0
Diện tích       3358.6
Mật độ          2480.0
Name: Hà Nội, dtype: float64

Dữ liệu của Hà Nội, Quảng Ninh và Nam Định:
              Dân số  Diện tích  Mật độ
Hà Nội      8330830     3358.6    2480
Quảng Ninh  1320000     6177.7     213
Nam Định    1880000     1667.7    1127

Dữ liệu dân số và diện tích của Hà Nội và Quảng Ninh:
              Dân số  Diện tích
Hà Nội      8330830     3358.6
Quảng Ninh  1320000     6177.7
Mật độ dân số của các tỉnh/thành phố:
 Hà Nội        2480
Quảng Ninh     213
Nam Định      1127
Ninh Bình     1977
Name: Mật độ, dtype: int64

4.5.1.1

In [8]:
import pandas as pd
import numpy as np
rng=np.random.RandomState(100) #Tạo một mảng NumPy ngẫu nhiên cố định
arr1=rng.randint(0,10,4) #mảng NumPy 1 chiều 4 số ngẫu nhiên từ 0->10
arr2=rng.randint(0,10,(3,4)) #mảng 2 chiều 3x4 các số ngẫu nhiên từ 0->10, k lấy 10
sr=pd.Series(arr1) #Tạo một Series Pandax từ mảng Numpy arr1
df=pd.DataFrame(arr2,columns=['A','B','C','D']) #Tạo DataFrame từ arr2
print("Series:\n",sr)
print("DataFrame:\n",df)

Series:
 0    8
1    8
2    3
3    7
dtype: int32
DataFrame:
    A  B  C  D
0  7  0  4  2
1  5  2  2  2
2  1  0  8  4

In [9]:
np.exp(sr)

0    2980.957987
1    2980.957987
2      20.085537
3    1096.633158
dtype: float64

In [10]:
np.sin(df*np.pi/4)

          A    B             C             D
0 -0.707107  0.0  1.224647e-16  1.000000e+00
1 -0.707107  1.0  1.000000e+00  1.000000e+00
2  0.707107  0.0 -2.449294e-16  1.224647e-16

In [11]:
import pandas as pd

# Số liệu top 5 tỉnh/thành đông dân nhất Việt Nam (2023)
population = pd.Series({
    'TP.Hồ Chí Minh': 9411805,
    'Hà Nội': 8330830,
    'Thanh Hóa': 3720000,
    'Nghệ An': 3410000,
    'Đồng Nai': 3097107
})

# Số liệu top 5 tỉnh/thành có diện tích lớn nhất Việt Nam (2023)
area = pd.Series({
    'Nghệ An': 16493,
    'Gia Lai': 15536.9,
    'Sơn La': 14174.4,
    'Đăk Lăk': 13030.5,
    'Thanh Hóa': 11132.2
})

print("Top 5 tỉnh/thành đông dân nhất Việt Nam 2023:\n", population)
print("\nTop 5 tỉnh/thành có diện tích lớn nhất Việt Nam 2023:\n", area)

Top 5 tỉnh/thành đông dân nhất Việt Nam 2023:
 TP.Hồ Chí Minh    9411805
Hà Nội            8330830
Thanh Hóa         3720000
Nghệ An           3410000
Đồng Nai          3097107
dtype: int64

Top 5 tỉnh/thành có diện tích lớn nhất Việt Nam 2023:
 Nghệ An      16493.0
Gia Lai      15536.9
Sơn La       14174.4
Đăk Lăk      13030.5
Thanh Hóa    11132.2
dtype: float64