đọc file csv

In [43]:
import pandas as pd
file_path="D:\\OneDrive\\Máy tính\\18a2ds_hn\\18a2ds_do_manh_Huan\\luyện tập\\ôn tập\\economic_social_on_tap_18A2_2025_20251220_165557.csv"
df=pd.read_csv(file_path)
print(df.head())
print(df.info())
my_student_id=24174600112
df_student=df[df["student_id"]==my_student_id]
print(df_student)

    student_id province  year  population  income     cpi  unemployment_rate
0  24174600087   Hà Nội  2019     3603294   60.73  115.90               2.44
1  24174600087   Hà Nội  2020     7021866  116.78  108.21               1.21
2  24174600087   Hà Nội  2021     5731249     NaN  119.33                NaN
3  24174600087   TP.HCM  2019     6150459   89.98  108.73               5.58
4  24174600087   TP.HCM  2020     4069253   76.48   95.88                NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   student_id         900 non-null    int64
 1   province           900 non-null    object
 2   year               900 non-null    int64
 3   population         900 non-null    int64
 4   income             796 non-null    float64
 5   cpi                819 non-null    float64
 6   unemployment_rate  805 non-null    float64
dtypes: float64(3), int64(3), object(1)
memory usage: 49.3+ KB
None
      student_id   province  year  population  income     cpi  \
360  24174600112     Hà Nội  2019     1375953   44.05  111.10
361  24174600112     Hà Nội  2020     3895894     NaN  101.59
362  24174600112     Hà Nội  2021     4948633  100.62   92.07
363  24174600112     TP.HCM  2019     6150017   55.46  106.28
364  24174600112     TP.HCM  2020     1102960   69.31  120.39
365  24174600112     TP.HCM  2021     6659125   42.25  110.92
366  24174600112    Đà Nẵng  2019     2721861     NaN  104.06
367  24174600112    Đà Nẵng  2020     6054480   68.46  126.18
368  24174600112    Đà Nẵng  2021     7298116   98.20  108.65
369  24174600112  Hải Phòng  2019     7371142     NaN  124.74
370  24174600112  Hải Phòng  2020     6308767   72.61   99.70
371  24174600112  Hải Phòng  2021     4301456   51.74   90.55
372  24174600112    Cần Thơ  2019     5149997   39.63     NaN
373  24174600112    Cần Thơ  2020     6258856   34.65  100.81
374  24174600112    Cần Thơ  2021     2201846   81.23  107.74

     unemployment_rate
360               3.07
361               5.93
362               4.25
363               5.42
364               5.52
365               4.70
366               4.92
367               4.00
368               2.52
369                NaN
370               3.11
371               1.25
372               1.38
373                NaN
374               2.41

PANDAS PHÂN TÍCH DỮ LIỆU

- MultiIndex (Thiết lập MultiIndex theo tỉnh/thành phố và năm để biểu diễn dữ liệu nhiều chiều.)
- groupby tổng hợp dữ liệu theo từng địa phương hoặc từng năm.
- pivot_table, tạo bảng tổng hợp phục vụ so sánh và phân tích xu hướng

In [45]:
df_indexed = df_student.set_index(["province", "year"])
result = df_student.groupby("province")["income"].mean()
pivot_income = df_student.pivot_table(
    values="income",
    index="province",
    columns="year",
    aggfunc="mean"
)

SQLite – Hoàn thiện quy trình xử lý dữ liệu

- Lưu kết quả phân tích cuối cùng từ DataFrame vào cơ sở dữ liệu SQLite bằng hàm to_sql().
- Không lưu dữ liệu thô
Các hàm cần ôn:
- sqlite3.connect()
- DataFrame.to_sql()
Trong đó: hàm to_sql() thực hiện ghi (lưu) dữ liệu từ một DataFrame của Pandas vào một bảng nằm bên 
trong file CSDL SQLite (.db).

Kết nối cơ sở dữ liệu SQLite

In [46]:
import sqlite3

conn = sqlite3.connect("ket_qua_phan_tich.db")

Lưu DataFrame vào SQLite bằng to_sql()

In [47]:
pivot_income.to_sql(
    name="summary_income",
    con=conn,
    if_exists="replace",
    index=False
)

5

In [48]:
conn.close()